* {
    margin: 0;
    padding: 0;
}

.container {
    margin: 0 auto;
    width: 1200px;
}

body {
    font-family: "Montserrat", sans-serif;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

#interface-panel {
    outline: 2px solid #999;
    width: 30%;
    min-height: 100vh;
    float: left;
}

.standart-padding {
    padding-left: 50px;
    padding-top: 50px;
}

#map-panel {
    height: 100vh;
    width: 70%;
    float: right;
}

#map-text {
    height: 20%;
}

#map {
    height: 80%;
}

.address-list__input-address {
    margin-top: 20px;
    border: 1px solid #999;
    padding: 10px;
    border-radius: 5px;
    width: 250px;
}

.icon-plus:before {
    content: "\ea0a";
}

.icon-minus:before {
    content: "\ea0b";
}

.buttons__add-input, .buttons__delete-input {
    height: 30px;
    width: 30px;
    text-align: center;
    line-height: 30px;
    float: left;
    margin-left: 70px;
    margin-top: 20px;
    border: 1px solid #999;
    border-radius: 5px;
    cursor: pointer;
}

#form-address__submit-button {
    text-align: center;
    line-height: 30px;
    margin-top: 20px;
    margin-left: 30px;
    border: 1px solid #999;
    border-radius: 5px;
    cursor: pointer;
    width: 200px;
}

.icon-download2:before {
    content: "\e9c5";
}

#button_download {
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    margin-left: 155px;
    margin-top: 20px;
    border: 1px solid #999;
    border-radius: 5px;
    cursor: pointer;
}