* {
    margin: 0;
    padding: 0;
}

.container {
    margin: 0 auto;
    width: 1200px;
}

body {
    font-family: "Montserrat", sans-serif;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

#interface-panel{
    background-color: gray;
    width: 30%;
    min-height: 100vh;
    float: left;
}

.standart-padding{
    padding-left: 50px;
    padding-top: 50px;
}

#map-panel{
    background-color: green;
    height: 100vh;
    width: 70%;
    float: right;
}
#map-text{
    height: 20%;
    background-color: blue;
}
#map{
    height: 80%;
    background-color: red;
}

.address-list__input-address{
    margin-top: 20px;
}
.buttons{
    margin-top: 20px;
}
.buttons__add-input, .buttons__delete-input{
    height: 30px;
    width: 30px;
    background-color: tomato;
    text-align: center;
    line-height: 30px;
    float: left;
    margin-left: 20px;
    outline: solid indigo 3px;
    cursor: pointer;
}

#form-address__submit-button{
    background-color: tomato;
    text-align: center;
    line-height: 30px;
    margin-top: 20px;
    outline: solid indigo 3px;
    cursor: pointer;
    width: 200px;
}

